@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 1000px){
    .postBox{
        width: 760px;
    }
    .postBoxName{
        width: 760px;
    }
}

body{
    margin: 0;
    background-color: black;
}

#wrapper{
    display: grid;
    font-family: 'Pretendard-Regular';
    color: white;
    height: 1500px;
    width: 1000px;
    margin: 0 auto;
    border: 5px solid gray;
}

a{
    color: white;
    text-decoration-line: none;
}

p{
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    margin-left: 40px;
    margin-right: 20px;
}

p {
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#container{
    display: grid;
    grid-template-columns: 200px 800px;
    text-align: center;
    width: 1000px;
}

#containerLeft{
    background-color: gray;
    width: 200px;
}
#pageName{
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
}
#profilePhoto{
    text-align: center;
    padding-top: 50px;
}
.small{
    width: 100px;
}
#profilePost{
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
}
#otherPages{
    text-align: left;
    padding-top: 50px;
    padding-left: 60px;
}
#category{
    text-align: left;
    padding-top: 50px;
    padding-left: 70px;
    line-height: 30px;
}

#containerRight{
    background-color: black;
    width: 800px;
}
.postName{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.postBox{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    height: 500px;
}
.post{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.prompt {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .prompt p {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .prompt p.selected {
    background-color: yellow;
    font-weight: bold;
  }
  .result {
    text-align: center;
  }
  .result ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .result li {
    margin-bottom: 5px;
    font-size: 1.2em;
  }
  .result h2 {
    margin-top: 0;
  }
  #copy-btn {
    margin-top: 10px;
  }