/* Fonts [Start] */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Fonts [End] */


/* Global [Start] */
:root {
    --hc-color-bbg              :#1b1c1f;   /* 18 18 18 */
    --hc-color-bg               :#1e1f22;   /* 30 31 34 */
    --hc-color-sideBar          :#2b2d31;   /* 43 45 49 */
    --hc-color-post             :#313338;   /* 49 51 56 */
    --hc-color-clear            :#00000000;
    --hc-color-font             :#cacaca;
    --hc-color-sub              :#a7a7a780;

    --hc-wow-color-warrior      :#c79c6e;
    --hc-wow-color-paladin      :#f58cba;
    --hc-wow-color-deathKnight  :#c41f3b;
    --hc-wow-color-hunter       :#abd473;
    --hc-wow-color-shaman       :#0070de;
    --hc-wow-color-evoker       :#33937F;
    --hc-wow-color-rogue        :#fff569;
    --hc-wow-color-druid        :#ff7d0a;
    --hc-wow-color-monk         :#00ff96;
    --hc-wow-color-demonHunter  :#a330c9;
    --hc-wow-color-priest       :#ffffff;
    --hc-wow-color-mage         :#69ccf0;
    --hc-wow-color-warlock      :#9482c9;

    --hc-min-width : 500px;
    --hc-max-width : 956px;
    --hc-min-height : 500px;
    --hc-max-height : 956px;

    --hc-width-characterList : 75px;
    --hc-width-sideBar : 200px;

    --hc-height-header : 24px;
    --hc-post-title-height : 48px;

}

/* Global [End] */



/* Selector - Tag [Start] */
html {
    font-size: 16px;
}
body {
    background-color: var(--hc-color-bg);
    color : var(--hc-color-font);
    font-family: 'Noto Sans KR', sans-serif;
}
header {
    background-color: var(--hc-color-bg);
    width: 100%;
    max-width: var(--hc-max-width);
    height: var(--hc-height-header);
    line-height: var(--hc-height-header);
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    padding-left: 6px;
    position: sticky;
    top: 0px;
    z-index: 100;
    font-family: 'Dongle', sans-serif;
    font-size: 1.4rem;
}
aside {
    background-color: var(--hc-color-sideBar);
    width: 100%;
    height: 900px;
    max-height: var(--hc-max-height);
    position: sticky;
    top: var(--hc-height-header);
    overflow: hidden;
    z-index: 90;
    border-bottom-left-radius: 10px;
}

/* Selector - Tag [End] */



/* Selector - Utility [Start] */
.pad {
    padding-bottom: 10px;
}

/* Selector - Utility [End] */



/* Selector - Class [Start] */
._hc-container {
    background-color: var(--hc-color-bg);
    width: 100%;
    max-width: 956px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 200px 1fr;
}
.banner {
    width: 100%;
}
.profile {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px;
}
.profile .background{
    background-color: #212121;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile .icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 25%;
}
.profile .character {
    font-weight: bold;
    color: var(--hc-wow-color-monk);
}
.profile .server {
    font-size: 0.75rem;
    color: var(--hc-color-sub);
}
.category {
    font-size: 0.85rem;
    padding: 10px;
}
.category .background {
    background-color: #212121;
    width: 100%;
    border-radius: 10px;
}
.list-group-item {
    background-color: var(--hc-color-clear);
    color: var(--hc-color-font);
}
.hc-post {
    display: none;
    max-width: 756px;
    overflow: hidden;
}
._hc-post .title {
    background-color: var(--hc-color-post);
    height: var(--hc-post-title-height);
    line-height: var(--hc-post-title-height);
    border-bottom: 1px solid var(--hc-color-bbg);
    padding-left: 10px;
    position: sticky;
    top: var(--hc-height-header);
    z-index: 90;
}
._hc-post .content {
    background-color: var(--hc-color-post);
    min-height: 1000px;
    padding: 10px;
}
._hc-post .content img {
    max-width: 100%;
}











/* 네임드 능력 모듈 1 start */
.npcAbility {
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 15px;
    background-color: #121212;
    padding: 20px;
    height: 240px;
    margin-bottom: 10px;
}
.npcAbility .left {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.npcAbility .left .ability {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.npcAbility .left .ability .icon {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    margin-right: 20px;
}
.npcAbility .left .ability .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}
.npcAbility .left .ability .name {
    color:wheat;
}
.npcAbility .left .ability .enName {
    font-size: 0.75em;
    color:#545454;
}
.npcAbility .left .description {
    background-color: #171717;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
}
.npcAbility .right .gif {
    border-radius: 10px;
    width: 200px;
}
/* 네임드 능력 모듈 1 end */

