:root {
    /* Main Color List */
    --custom-color-bg : #1e1f22;
    --custom-color-side : #2b2d31;
    --custom-color-main : #313338;
    --custom-color-font : white;
    --custom-color-sub : rgb(167, 167, 167);
    --custom-color-clear : rgba(0, 0, 0, 0);

    /* WOW Color List */
    --custom-color-warrior : #c79c6e;
    --custom-color-paladin : #f58cba;
    --custom-color-deathKnight : #c41f3b;
    --custom-color-hunter : #abd473;
    --custom-color-shaman : #0070de;
    --custom-color-evoker : ##33937F;
    --custom-color-rogue : #fff569;
    --custom-color-druid : #ff7d0a;
    --custom-color-monk : #00ff96;
    --custom-color-demonHunter : #a330c9;
    --custom-color-priest : #fffff;
    --custom-color-mage : #69ccf0;
    --custom-color-warlock : #9482c9;
    
    /* Header */
    --custom-height-header : 25px;

}

/* Global */
header {
    margin: 0px;
    padding: 0px;
}

body {
    background: --custom-color-main;
    background-color: --custom-color-main;
    color : var(--custom-color-font);
}

img {
    object-fit: cover;
}

/* 컨테이너 */


/* 첫번째 줄 */
.-header {
    background-color: var(--custom-color-bg);
    height: var(--custom-height-header);
    line-height: var(--custom-height-header);
    margin: 0px;
    padding: 0px;
}

/* 두번째 줄부터 */
.-main {
    min-height: 956px;
}

/* 가장 왼쪽에 위치한 캐릭터 리스트 */
.--characterList {
    width: 75px;
}
.--characterList img {
    border-radius: 25%;
    padding-top: 10px;
}

/* 두번째 열 */
.--sideBar {
    background-color: var(--custom-color-side);
    width: 200px;
    font-size: 14px;
}
.profile img {
    border-radius: 25%;
}
.profile .character {
    font-weight: bold;
    color: var(--custom-color-monk);
}
.profile .server {
    font-size: 13px;
    color: var(--custom-color-sub);
}
.list-group {

}
.list-group-item {
    background-color: var(--custom-color-clear);
    color: var(--custom-color-font);
}

/* 세번째 열  */
.--main {
    background-color: var(--custom-color-main);
    padding-top: 20px;
    padding-left: 30px;
    object-fit: cover;
    background-size: cover;
    overflow-x: hidden;
}