:root {
    /* Main Color List */
    --custom-color-bg : #1e1f22;
    --custom-color-side : #2b2d31;
    --custom-color-main : #313338;
    --custom-color-font : white;
    --custom-color-sub : rgba(167, 167, 167, 0.503);
    --custom-color-clear : rgba(0, 0, 0, 0);

    /* WOW Color List */
    --custom-color-warrior : #c79c6e;
    --custom-color-paladin : #f58cba;
    --custom-color-deathKnight : #c41f3b;
    --custom-color-hunter : #abd473;
    --custom-color-shaman : #0070de;
    --custom-color-evoker : ##33937F;
    --custom-color-rogue : #fff569;
    --custom-color-druid : #ff7d0a;
    --custom-color-monk : #00ff96;
    --custom-color-demonHunter : #a330c9;
    --custom-color-priest : #fffff;
    --custom-color-mage : #69ccf0;
    --custom-color-warlock : #9482c9;
    
    /* Header */
    --custom-height-header : 25px;

    /* Main Title */
    --custom-height-title : 50px;

}

/* Global */
body {
    background: --custom-color-main;
    background-color: --custom-color-main;
    color : var(--custom-color-font);
}
hr {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

/* 컨테이너 */
.container-fluid {
    padding: 0px;
    margin: 0px;
}
.row {
    padding: 0px;
    margin: 0px;
}
.col-auto {
    padding: 0px;
    margin: 0px;
}

/* 첫번째 줄 */
.-header {
    background-color: var(--custom-color-bg);
    height: var(--custom-height-header);
    line-height: var(--custom-height-header);
    padding-left: 6px;
    color: var(--custom-color-sub);
    font-size: 14px;
    font-weight: bold;
}

/* 두번째 줄부터 */
.-main {
    min-height: 956px;
}

/* 가장 왼쪽에 위치한 캐릭터 리스트 */
.--characterList {
    width: 75px;
    padding: 0px;
}
.--characterList img {
    border-radius: 25%;
    padding-top: 10px;
    padding-right: 1px;
}

/* 두번째 열 */
.--sideBar {
    background-color: var(--custom-color-side);
    width: 200px;
    font-size: 14px;
    overflow: hidden;
}
.banner {

}
.banner img {
    max-width: 100%;
    max-height: 100%;
}

.profile img {
    border-radius: 25%;
}
.profile .character {
    font-weight: bold;
    color: var(--custom-color-monk);
}
.profile .server {
    font-size: 13px;
    color: var(--custom-color-sub);
}
.list-group {

}
.list-group-item {
    background-color: var(--custom-color-clear);
    color: var(--custom-color-font);
}

/* 세번째 열  */
.--main {
    background-color: var(--custom-color-main);
    object-fit: cover;
    background-size: cover;
    overflow-x: hidden;
}
.--main .title {
    height: var(--custom-height-title);
    line-height: var(--custom-height-title);
    padding-left: 20px;
    border-bottom: solid 1px black;
}

.post {
    padding-top: 30px;
    padding-left: 30px;
}

.post img {
    max-width: 500px;
}

.post p {
    max-width: 500px;
}