@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 1000px){
    .postBox{
        width: 760px;
    }
    .postBoxName{
        width: 760px;
    }
}


body{
    font-family: 'Pretendard-Regular';
    color: white;
    margin: 0;
}

a{
    color: white;
    text-decoration-line: none;
}

p{
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#wrapper{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
#container{
    display: grid;
    grid-template-columns: 200px 1fr;
    align-content: center;
}

#containerLeft{
    background-color: gray;
    width: 200px;
    height: 1000px;
}
#pageName{
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
}
#profilePhoto{
    text-align: center;
    padding-top: 50px;
}
.small{
    width: 100px;
}
#profilePost{
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
}
#otherPages{
    text-align: left;
    padding-top: 50px;
    padding-left: 60px;
}
#category{
    text-align: left;
    padding-top: 50px;
    padding-left: 70px;
    line-height: 30px;
}

#containerRight{
    background-color: black;
    height: 1000px;
}
.postName{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.postBox{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    height: 300px;
}
.post{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
}