@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: 'Pretendard-Regular';
    margin: 0;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: 300px 1fr;
}
.left{
    padding: 0px;
    background-color: gray;
}
.right{
    background-color: black;
}
.intro{
    text-align: left;
    padding-left: 90px;
}
.category{
    text-align: left;
    padding-left: 90px;
    line-height: 30px;
}
/*
@media(min-width:900px){
    #left{
    display: none;
}
*/
a {
    text-decoration-line: none;
}
#pagesName{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#profilePhoto{
    text-align: center;
    padding-bottom: 50px;
}
#postName{
    font-size: 30px;
    padding-top: 30px;
    padding-left: 30px;
}
#postMain{
    padding-left: 30px;
}